/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "proxima_novabold";
  src: url("proximanova-bold-webfont.woff2") format("woff2"), url("../fonts/proximanova-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "proxima_novalight";
  src: url("proximanova-light-webfont.woff2") format("woff2"), url("../fonts/proximanova-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "proxima_novaregular";
  src: url("proximanova-regular-webfont.woff2") format("woff2"), url("../fonts/proximanova-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "skolar_peregular";
  src: url("skolarpe-regular-webfont.woff2") format("woff2"), url("../fonts/skolarpe-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.woff?t9veaf") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-location:before {
  content: "\e947";
}

.icon-checkbox-checked:before {
  content: "\ea52";
}

.icon-google-plus:before {
  content: "\ea8b";
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-twitter:before {
  content: "\ea96";
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon2.woff?1w0myv") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cog:before {
  content: "\e994";
}

.icon-spoon-knife:before {
  content: "\e9a3";
}

.icon-heart:before {
  content: "\e9da";
}

* {
  box-sizing: border-box;
}

body {
  background: radial-gradient(ellipse at center, #986499 0%, #30325c 71%, #18192b 100%);
  height: 100vh;
}

.container {
  width: 1040px;
  height: 955px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.container > div {
  width: 300px;
  height: 430px;
}

.border-vert {
  width: 1px;
  height: 78px;
  background: rgba(255, 255, 255, 0.2);
  display: block;
}

.loc-btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.recipe {
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 430px;
  border-radius: 10px;
  overflow: hidden;
}
.recipe .header {
  width: 100%;
  height: 190px;
  background: url(../img/pie.jpg) no-repeat;
  text-align: center;
  padding: 18px 0;
  font: 20px "proxima_novabold";
  color: #fff;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-size: cover;
}
.recipe .recipe-main {
  background: rgba(255, 255, 255, 0.1);
  height: 240px;
}
.recipe .recipe-main li {
  position: relative;
}
.recipe .recipe-main li.active > a,
.recipe .recipe-main li a:hover {
  background: rgba(255, 255, 255, 0.2);
  border-left: 7px solid #fff;
}
.recipe .recipe-main li::before {
  position: absolute;
  top: 17px;
  right: 20px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 22px;
  cursor: pointer;
}
.recipe .recipe-main li.active::before {
  color: rgba(255, 255, 255, 0.85);
}

.recipe-main li a {
  height: 60px;
  width: 100%;
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 7px solid transparent;
  font: 16px "proxima_novaregular";
  color: #fff;
  text-decoration: none;
  padding: 20px 0 20px 25px;
}

.login {
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 388px;
  border-radius: 10px;
  overflow: hidden;
}
.login .header {
  width: 100%;
  height: 60px;
  background: rgba(73, 119, 208, 0.53);
  text-align: center;
  padding: 18px 0;
  font: 20px "proxima_novabold";
  color: #fff;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.login .footer {
  width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.login .footer a {
  font-size: 30px;
  text-decoration: none;
  color: #fff;
  padding: 4px;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.5s;
}
.login .footer a:hover {
  box-shadow: 0 0 0.55em 0em #fff;
}

.login form {
  background: rgba(255, 255, 255, 0.1);
  height: 268px;
  font: 16px "proxima_novaregular";
  color: #fff;
}
.login form fieldset {
  width: 85%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login form fieldset .row {
  width: 100%;
  height: 100px;
}
.login form fieldset .row [type=email],
.login form fieldset .row [type=password] {
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: block;
  height: 60px;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  outline: none;
  border-radius: 10px;
  color: #fff;
}
.login form fieldset .row ::placeholder {
  color: #fff;
}
.login form fieldset .row .active {
  background: rgba(255, 255, 255, 0.64);
}

.login form fieldset .more {
  position: relative;
  font: 14px "skolar_peregular";
}
.login form fieldset .more:before, .login form fieldset .more:after {
  content: "";
  position: absolute;
  width: 105px;
  height: 1px;
  background: rgba(255, 255, 255, 0.4);
  top: 6px;
  right: 25px;
}
.login form fieldset .more:after {
  left: 25px;
}

.profile {
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 425px;
  border-radius: 10px;
  overflow: hidden;
}
.profile .header {
  width: 100%;
  height: 60px;
  background: rgba(168, 115, 28, 0.53);
  text-align: center;
  padding: 18px 0;
  font: 20px "proxima_novabold";
  color: #fff;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.profile .info {
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 150px;
  background: url(../img/profile_bg.jpg) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile .info .photo {
  display: block;
  margin-right: 10px;
  border: 4px solid #b9a69e;
  border-radius: 50%;
}

.profile .info strong {
  font: 20px "proxima_novabold";
  color: #fff;
}
.profile .info strong span {
  display: block;
  font: 16px "proxima_novaregular";
  position: relative;
  padding-left: 24px;
}
.profile .info strong span::before {
  position: absolute;
  content: "\e947";
  font-family: "icomoon" !important;
  top: 0;
  left: 0;
}

.profile-main {
  background: rgba(255, 255, 255, 0.1);
  height: 215px;
}
.profile-main .flw-section {
  width: 100%;
  height: 120px;
  background: transparent;
  text-align: center;
  padding: 18px 0;
  font: 20px "proxima_novabold";
  color: #fff;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-main .flw-section strong {
  display: inline-block;
  width: 100px;
  height: 78px;
  padding-top: 15px;
  font: 16px "proxima_novaregular";
  text-transform: none;
}
.profile-main .flw-section strong span {
  display: block;
  font: 30px "proxima_novalight";
}
.profile-main a {
  display: block;
  margin: auto;
}

.graph {
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 422px;
  border-radius: 10px;
  overflow: hidden;
}
.graph .header {
  width: 100%;
  height: 100px;
  background: rgba(105, 193, 242, 0.53);
  text-align: center;
  padding: 18px 0;
  font: 20px "proxima_novabold";
  color: #fff;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
}
.graph .header strong {
  display: inline-block;
  width: 100px;
  height: 78px;
  padding-top: 25px;
  font: 10px "proxima_novaregular";
}
.graph .header strong span {
  display: block;
  font: 30px "proxima_novalight";
}

.graph-main {
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 222px;
  background: url(../img/graph.png) no-repeat;
}

.graph .footer {
  width: 100%;
  height: 100px;
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
  padding: 18px 0;
  font: 20px "proxima_novabold";
  color: #fff;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
}
.graph .footer strong {
  display: inline-block;
  width: 100px;
  height: 78px;
  padding-top: 25px;
  font: 10px "proxima_novaregular";
}
.graph .footer strong span {
  display: block;
  font: 30px "proxima_novalight";
}

.download {
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 390px;
  border-radius: 10px;
  overflow: hidden;
}
.download .header {
  width: 100%;
  height: 60px;
  background: rgba(84, 193, 118, 0.53);
  text-align: center;
  padding: 18px 0;
  font: 20px "proxima_novabold";
  color: #fff;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.download .download-main {
  background: rgba(255, 255, 255, 0.1);
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.download .download-main svg {
  width: 165px;
  height: 165px;
  display: block;
}

.download-progress {
  text-align: center;
}
.download-progress strong {
  font: 16px "proxima_novaregular";
  color: #fff;
}
.download-progress strong span {
  display: block;
  font: 30px "proxima_novalight";
}

.location {
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 145px;
  border-radius: 10px;
  overflow: hidden;
}
.location .header {
  width: 100%;
  height: 60px;
  background: rgba(253, 228, 127, 0.53);
  text-align: center;
  padding: 18px 0;
  font: 20px "proxima_novabold";
  color: #fff;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.location-main {
  background: rgba(255, 255, 255, 0.1);
  height: 85px;
  padding: 0 15%;
}
.location-main strong {
  float: left;
  position: relative;
  font: 16px "proxima_novaregular";
  color: #fff;
  margin-top: 30px;
}
.location-main strong::before {
  position: absolute;
  content: "\e947";
  font-family: "icomoon" !important;
  top: -4px;
  left: -29px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 24px;
}
.location-main .border-vert {
  display: inline;
  float: right;
  position: relative;
  margin: 3px 30px 0 0;
}
.location-main .border-vert::after {
  position: absolute;
  content: "\ea52";
  font-family: "icomoon" !important;
  top: 26px;
  left: 30px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 24px;
}

.btn-wrapper {
  height: 275px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.white-btn {
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 250px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.4);
  text-align: center;
  padding: 18px 0;
  font: 20px "proxima_novabold";
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10px;
  transition: all 0.5s;
}
.white-btn:hover {
  box-shadow: inset 0 0 0.55em 0em #fff;
}

.dark-blue-btn {
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 250px;
  height: 60px;
  background-color: rgba(73, 119, 208, 0.53);
  text-align: center;
  padding: 18px 0;
  font: 20px "proxima_novabold";
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10px;
  transition: all 0.5s;
}
.dark-blue-btn:hover {
  box-shadow: inset 0 0 0.55em 0em #fff;
}

.blue-btn {
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 250px;
  height: 60px;
  background-color: rgba(105, 193, 242, 0.53);
  text-align: center;
  padding: 18px 0;
  font: 20px "proxima_novabold";
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10px;
  transition: all 0.5s;
}
.blue-btn:hover {
  box-shadow: inset 0 0 0.55em 0em #fff;
}

.green-btn {
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 250px;
  height: 60px;
  background-color: rgba(84, 193, 118, 0.53);
  text-align: center;
  padding: 18px 0;
  font: 20px "proxima_novabold";
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10px;
  transition: all 0.5s;
}
.green-btn:hover {
  box-shadow: inset 0 0 0.55em 0em #fff;
}