$bg-color: rgba(255, 255, 255, 0.1);
$brown: rgba(168, 115, 28, 0.53);
$blue: rgba(105, 193, 242, 0.53);
$dark-blue: rgba(73, 119, 208, 0.53);
$green: rgba(84, 193, 118, 0.53);
$beige: rgba(253, 228, 127, 0.53);
$hover-color: rgba(255, 255, 255, 0.2);
$border-color: rgba(255, 255, 255, 0.3);
$active-color: rgba(255, 255, 255, 0.85);
$btn-color: rgba(255, 255, 255, 0.64);
$input-color: rgba(255, 255, 255, 0.4);

$main-font: 20px "proxima_novabold";
$num-font: 30px "proxima_novalight";
$reg-font: 16px "proxima_novaregular";

$radius: 10px;

$main-width: 100%;
$main-height: 60px;
